* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.preload * {
    transition: none !important;
}

body {
    background-color: #fff;
    font: 100%/1.375 "helvetica neue", helvetica, tahoma, sans-serif;
    font-weight: 400;
}

.navigation-container {
    margin: 2% auto;
    background-color: #fff;
    border-bottom: 1px solid #dddcde;
    max-width: 960px;
    min-width: 630px;
}

.navigation-item-group {
    position: relative;
    list-style: none;
    margin: 0 27px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navigation-item-group li {
    display: inline-block;
    padding-bottom: 6px;
}

.navigation-item-group li a {
    font-size: 14px;
    display: block;
    float: left;
    text-decoration: none;
    color: #9e9e9f;
}

.navigation-item-group li a:hover {
    color: #377ecb;
}

.navigation-item-group li.navigation-item-selected a,
.navigation-item-group li.navigation-item-selected a:hover {
    color: #222123;
}

.navigation-item-group #sliding-line {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100px;
    height: 2px;
    border-bottom: 1px solid #010001;
    padding: 0 0 0 0;
    transition-property: left, width;
    transition: .4s ease-in-out;
}


